*.o
*.s
*.ii
*.i
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
config.h
config.log
config.status
eadata/.deps/
eadata/.dirstamp
libEAData.a
libSim.a
libtool
objs/.deps/
objs/.dirstamp
programs/.deps/
programs/.dirstamp
stamp-h1
configure
depcomp
install-sh
ltmain.sh
m4/
missing
config.h.in